.container
{
    width: 260px;
    display: grid;
    grid-template-rows: 100px 100px 100px;
    grid-template-columns: 100px 100px;
    grid-auto-flow: column;
    gap: 20px;
    justify-content: center;
    border: 5px solid red;
    background-color: bisque;
}
.item
{
    border: 5px solid blue;
    font-size: 50px;
}