*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container
{
    width: 345px;
    height: 345px;
    display: grid;
    border: 5px solid black;
    background-color: #1F5C22;
    grid-template-columns: 150px 150px;
    grid-template-rows: 150px 150px;
    gap: 20px;
}

.item
{
    display: grid;
    background-color: chartreuse;
}
.item-card
{
    height: 80px;
    width: 40px;
    background-color: darkgoldenrod;
    align-self: flex-end;
    justify-self: flex-end;
}